@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Open+Sans:wght@300;400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 98 60% 8%;
    --foreground: 60 30% 96%;

    --card: 100 20% 15%;
    --card-foreground: 60 30% 96%;

    --popover: 100 20% 15%;
    --popover-foreground: 60 30% 96%;

    --primary: 98 60% 14%;
    --primary-foreground: 60 90% 95%;

    --secondary: 100 10% 55%;
    --secondary-foreground: 60 30% 96%;

    --muted: 100 15% 25%;
    --muted-foreground: 100 10% 70%;

    --accent: 46 100% 92%;
    --accent-foreground: 98 60% 14%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 100 15% 25%;
    --input: 100 15% 25%;
    --ring: 98 60% 14%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "Open Sans", sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Merriweather", serif;
  }

  html {
    scroll-behavior: smooth;
  }
}
